/*
 *
 * Block Quote.
 * Related /blocks-editor/_editor-block-quote
 */

.wp-block-quote {
	margin: $magic-number 0;
	padding: 0 0 0 $gutter;
	@include borderBL( $width: 3px );
}

.wp-block-quote {
	p,
	cite {
		font-style: normal;
		line-height: inherit;
		text-align: inherit;
		&:last-of-type {
			margin-bottom: 0;
		}
	}
	cite {
		color: $gray;
		font-style: normal;
		font-size: $font-size-md;
		display: block;
	}
}

.wp-block-quote {
	&.is-large,
	&.is-style-large {
		margin: $magic-number 0;
		p {
			font-family: inherit;
			font-size: $font-size-large;
			font-style: normal;
			line-height: $line-height-xs;
		}
		cite,
		footer {
			text-align: inherit;
		}
	}
}

.wp-block-quote[style="text-align:center"] {
	border-width: 0;
	padding: 0;
}

.wp-block-quote[style="text-align:right"] {

	/*rtl:begin:ignore*/
	padding: 0 2rem 0 0;
	@include borderBR( $width: 3px );
	/*rtl:end:ignore*/
}

@include breakpoint( $responsive-menu-break ) {

}
