/*
 *
 * Block Widget Latest Posts.
 * Related /blocks-editor/_editor-block-widget-latest-posts
 */

.wp-block-latest-posts:not(.is-grid) li {
	margin-top: ( $magic-number / 2 );
	&:first-child {
		margin-top: 0;
	}
}

.wp-block-latest-posts.is-grid li {
	margin-top: $magic-number;
	padding-top: ( $magic-number / 2 );
	@include borderBT();
}

.wp-block-latest-posts__post-date {
	color: $gray;
	font-size: $font-size-xs;
}

.wp-block-latest-posts__post-excerpt {
	font-size: $font-size-sm;
	line-height: $line-height-md;
	margin: ( $magic-number / 4 ) 0 $magic-number;
}

@include breakpoint( $responsive-menu-break ) {

}
