/*
 *
 * Block Pullquote.
 * Related /blocks-editor/_editor-block-pullquote
 */

.wp-block-pullquote {
	padding: 0;
	position: relative;
	text-align: inherit;
	blockquote {
		border: none;
		margin: 0;
		padding: 0;
		&::before {
			color: $brand-secondary;
			content: "”";
			display: inline-block;
			font-size: ( $font-size-enourmos * 2 );
			line-height: $line-height-xs;
		}
		p {
			font-family: inherit;
			font-size: $font-size-lg;
			font-weight: $font-weight-bold;
			line-height: $line-height-md;
			max-width: 100%;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}

/*
 * Cite. Frontend provides cite element.
 */
.wp-block-pullquote {
	cite {
		color: $gray-dark;
		display: block;
		font-style: normal;
		margin-top: ( $magic-number / 2 );
	}
}

/*
 * Aligns.
 */
.wp-block-pullquote {
	&.alignleft,
	&.alignright {
		float: none;
		max-width: calc(100% - 4rem);
	}
	&.alignleft {
		text-align: left;
		margin-right: $gutter;
	}
	&.alignright {
		text-align: right;
		margin-left: $gutter;
	}
}

/*
 * Style solid color.
 */
.wp-block-pullquote.is-style-solid-color {
	padding: ( $magic-number * 2 ) ( $gutter * 4 );
	blockquote {
		max-width: 100%;
		text-align: inherit;
		&:before {
			color: inherit;
		}
	}
	cite {
		color: inherit;
	}
}

@include breakpoint( $responsive-menu-break ) {

}
