/*
 *
 * Block Widget Latest Comments.
 */

.wp-block-latest-comments {
	li.wp-block-latest-comments__comment {
		font-size: inherit;
		margin: $magic-number 0;
	}
}

/*
 * Date.
 */
.wp-block-latest-comments__comment-date {
	color: $gray;
	font-size: var(--wp--preset--font-size--extra-small);
}

/*
 * Excerpt.
 */
.wp-block-latest-comments__comment-excerpt p {
	font-size: var(--wp--preset--font-size--extra-small);
	line-height: inherit;
	margin: inherit;
}

/*
 * Avatar.
 */
.wp-block-latest-comments.has-avatars {
	.wp-block-latest-comments__comment {
		.wp-block-latest-comments__comment-excerpt p {
			margin: initial;
		}
	}
}
