/*
 *
 * Block Shared Media.
 */

.wp-block-embed,
.wp-block-image {
	figcaption {
		color: $gray-dark;
		font-size: $font-size-xs;
		margin-bottom: calc($magic-number / 2);
		margin-top: calc($magic-number / 2);
		text-align: center;
	}
}
