/*
 *
 * Block Widget Latest Posts.
 */

.wp-block-latest-posts:not(.is-grid) {
	&:first-child {
		margin-top: 0;
	}
	li {
		margin-top: calc($magic-number / 2);
	}
}

.wp-block-latest-posts {
	li {
		margin-top: $magic-number;
		padding-top: calc($magic-number / 2);
		@include borderBT();
		.wp-block-latest-posts__post-date {
			color: $gray;
			font-size: $font-size-xs;
		}
		.wp-block-latest-posts__post-excerpt {
			font-size: $font-size-sm;
			line-height: $line-height-md;
			margin: calc($magic-number / 4) 0 $magic-number;
		}
	}
}