/*
 *
 * Custom Classes Font Sizes.
 * Related /blocks-editor/_editor-font-sizes-classes
 */

 .entry-content {
	.has-smallest-font-size {
		font-size: $font-size-xs;
	}
	.has-small-font-size {
		font-size: $font-size-sm;
	}
	.has-normal-font-size,
	.has-regular-font-size,
	.has-medium-font-size {
		font-size: $font-size-base;
	}
	.has-large-font-size {
		font-size: $font-size-h3;
		line-height: $line-height-xs;
	}
	.has-larger-font-size {
		font-size: $font-size-h2;
		line-height: $line-height-xs;
	}
	.has-huge-font-size {
		font-size: $font-size-h1;
		line-height: $line-height-xs;
	}
}

@include breakpoint( $responsive-menu-break ) {
	.entry-content {
		.has-medium-font-size {
			font-size: $font-size-lg;
		}
		.has-large-font-size {
			font-size: $font-size-large;
			line-height: $line-height-xs;
		}
		.has-larger-font-size {
			font-size: $font-size-larger;
			line-height: $line-height-xs;
		}
		.has-huge-font-size {
			font-size: $font-size-huge;
			line-height: $line-height-xs;
		}
	}
}