/*
 *
 * Editor Block File.
 * Related /blocks/_block-file
 */

.editor-styles-wrapper {
	.wp-block-gallery {
		ul {
			margin-bottom: 0;
			padding-left: 0;
		}
	}
	// add
	.wp-block-gallery {
		&.columns-1,
		&.columns-2,
		&.columns-3,
		&.columns-4,
		&.columns-5,
		&.columns-6 {
			.blocks-gallery-grid {
				@include grid();
				grid-template-rows: auto;
				.blocks-gallery-item {
					margin: 0;
					width: 100%;
				}
			}
		}
	}
}

@include breakpoint( $responsive-menu-break ) {
	.editor-styles-wrapper {
		.wp-block-gallery {
			&.columns-1 {
				.blocks-gallery-grid {
					grid-template-columns: 1fr;
				}
			}
			&.columns-2 {
				.blocks-gallery-grid {
					grid-template-columns: repeat(2, 1fr [col-start]);
				}
			}
			&.columns-3 {
				.blocks-gallery-grid {
					grid-template-columns: repeat(3, 1fr [col-start]);
				}
			}
			&.columns-4 {
				.blocks-gallery-grid {
					grid-template-columns: repeat(4, 1fr [col-start]);
				}
			}
			&.columns-5 {
				.blocks-gallery-grid {
					grid-template-columns: repeat(5, 1fr [col-start]);
				}
			}
			&.columns-6 {
				.blocks-gallery-grid {
					grid-template-columns: repeat(6, 1fr [col-start]);
				}
			}
		}
	}
}