/*
 *
 * Editor Shared Widget.
 * Related /blocks/_block-shared-widget
 */

.editor-styles-wrapper {
	ul.wp-block-archives,
	ul.wp-block-categories,
	ul.wp-block-latest-posts,
	ul.wp-block-categories__list {
		font-family: inherit;
		list-style: none;
		margin-left: 0;
		padding-left: 0;
		li {
			list-style: none;
			margin-left: 0;
			li {
				margin-left: $gutter;
			}
		}
	}
	ul.wp-block-categories__list {
		ul {
			margin: 0;
		}
	}
}

@include breakpoint( $responsive-menu-break ) {

}
