/*
 *
 * Editor Block Shared Media.
 * Related /blocks/_block-shared-media
 */

.editor-styles-wrapper {
	.wp-block-embed,
	.wp-block-image {
		figcaption {
			color: $gray-dark;
			font-size: $font-size-xs;
			margin-bottom: ( $magic-number / 2 );
			margin-top: ( $magic-number / 2 );
			text-align: center;
		}
	}
}

// .wp-block[data-type*="core-embed"][data-align="full"] figcaption,
// .wp-block[data-type="core/image"][data-align="full"] figcaption,
// .wp-block[data-type="core/gallery"][data-align="full"] .blocks-gallery-caption {
// 	padding: 0 ( $gutter );
// }
