/*
 *
 * Editor Block General
 * Related with nothing.
 */

.editor-styles-wrapper {
	background: $body-bg;
	> * {
		color: $body-color;
		font-family: $font-family-base;
		font-size: $font-size-base;
		font-weight: $font-weight-normal;
		line-height:  $line-height-base;
	}
}

@include breakpoint( $responsive-menu-break ) {

}
