/*
 *
 * Editor Custom Classes Font Sizes.
 * Related /blocks/_font-sizes-classes
 */

@include breakpoint( $responsive-menu-break ) {
	.editor-styles-wrapper {
		.has-smallest-font-size {
			font-size: $font-size-xs !important;
		}
		.has-small-font-size {
			font-size: $font-size-sm !important;
		}
		.has-normal-font-size,
		.has-regular-font-size,
		.has-medium-font-size {
			font-size: $font-size-base !important;
		}
		.has-large-font-size {
			font-size: $font-size-large !important;
			line-height: $line-height-xs;
		}
		.has-larger-font-size {
			font-size: $font-size-larger !important;
			line-height: $line-height-xs;
		}
		.has-huge-font-size {
			font-size: $font-size-huge !important;
			line-height: $line-height-xs;
		}
	}
}
