/*
 *
 * Editor Block Widget Latest Comments.
 * Related /blocks/_block-widget-latest-comments
 */

.editor-styles-wrapper {
	.wp-block-latest-comments {
		li.wp-block-latest-comments__comment {
			font-size: inherit;
			margin: $magic-number 0;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	/*
	 * Date.
	 */
	.wp-block-latest-comments__comment-date {
		color: $gray;
		font-size: $font-size-xs;
	}
	/*
	 * Excerpt.
	 */
	.wp-block-latest-comments__comment-excerpt p {
		font-size: $font-size-xs;
		line-height: inherit;
		margin: inherit;
	}
	/*
	 * Avatar.
	 */
	.wp-block-latest-comments.has-avatars {
		.wp-block-latest-comments__comment-meta,
		.wp-block-latest-comments__comment-excerpt {
			margin-left: 0 !important;
		}
		.wp-block-latest-comments__comment {
			display: flex;
		}
		img.avatar {
			flex-shrink: 0;
			margin: ( $magic-number / 4 ) $gutter 0 0;
		}
	}
}

@include breakpoint( $responsive-menu-break ) {

}
