/*
 *
 * Editor Block Table.
 * Related /blocks/_block-shared-table
 */

.editor-styles-wrapper {
	.wp-block-table {
		@extend %table;
		th {
			text-align: inherit;
		}
		th.has-text-align-center {
			text-align: center;
		}
		th.has-text-align-right {
			text-align: right;
		}
		th.has-text-align-left {
			text-align: left;
		}
	}
}

/*
 * Stripe tables
 */
.editor-styles-wrapper {
	.wp-block-table.is-style-stripes {
		td,
		th {
			border: none;
		}
		tbody tr:nth-child(odd) {
			background: $gray-lighter;
		}
	}
}

@include breakpoint( $responsive-menu-break ) {

}
