/*
 *
 * Editor Block Separator.
 * Related /blocks/_block-separator
 */

.editor-styles-wrapper {
	.wp-block-separator {
		margin: ( $magic-number * 2 ) 0;
		@include borderB();
		&:not(.is-style-wide):not(.is-style-dots) {
			max-width: 100%;
		}
	}
	.wp-block-separator {
		&.is-style-wide {
			max-width: calc(100vw - 4rem);
			position: relative;
			width: 100%;
		}
	}
	.wp-block-separator {
		&.is-style-dots::before {
			background: none;
			color: inherit;
			font-size: $font-size-larger;
			height: auto;
			letter-spacing: 1em;
			padding-left: 1em;
			position: static;
			transform: none;
			width: auto;
		}
		&.is-style-dots::after {
			content: none;
		}
	}
}
